@page
@model PrivacyModel
@{
    ViewData["Title"] = "Realizar saque/deposito";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <p>O que você deseja fazer?</p><br />
    Valor <input type="number" /><br />
    Nome: <input type="text" /><br />

    <button>Saque</button>
    <button>Deposito</button>
</div>