@page
@model PrivacyModel
@{
    ViewData["Title"] = "Realizar saque/deposito";
}
<h1>@ViewData["Title"]</h1>

<p>O que você deseja fazer?</p>
<p>Saque</p>
<input type="number" />
<p>Deposito</p>
<input type="number" />
<p>Nome</p>
<input type="text" />
Ok
<input type="button" /> 