@page
@model IndexModel
@{
    ViewData["Title"] = "Cadastro";
}

<div class="text-center">
    <h1 class="display-4">Cadastro</h1>
    Nome: <input type="text" /><br />
    Valor do deposito inicial: <input type="number" /><br />
    <button> Cadastrar</button>
</div>
